/* ROOM */

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 50px 0 0 0;
}

.img-container {
    height: 100%;
    width: 80%;
}


.img-container img.active {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    background-color: #B49852;
}

.images-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 10px 0 0px 0;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    background-color: white;
    margin: 20px 0;
}

.image-container {
    height: 100%;
    width: 15%;
    background-color: yellow;
    margin-right: 20px;
}

.image-container img.bed {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 20px 10%;
    flex-direction: column;
    background-color: white;
}

h1.title {
    font-family: 'Kaisei Tokumin', serif;
    margin: 0;
    color: black;
}

p.description {
    font-size: 20px;
}

.btn-book, a.book{
    text-decoration: none;
    color: white;
    background-color: #B49852;
    border: none;
    padding: 5px;
    width: 200px;
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}

.camera360-container {
    width: 60%;
}

.selfNav-container {
    width: 40%;
    background-color: white;
}

.row-container-360 {
    padding: 10px 10% 100px;
    display: flex;
    flex-direction: row;
}

iframe {
    height: 600px;
    width: 95%;
}

/* Tab CSS */
.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
}

.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Kaisei Tokumin', serif;
    border-bottom: .5px solid rgb(41, 40, 40);
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #dddddd;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: black;
    border-left: .5px solid rgb(41, 40, 40);
    border-right: .5px solid rgb(41, 40, 40);
    border-top: .5px solid rgb(41, 40, 40);
    border-bottom: none;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}

li {
    margin: 15px 0;
}

p.meal-plan {
    text-align: justify;
    line-height: 2;
}

@media screen and (max-width: 1000px) {
    .row-container {
        flex-direction: column;
    }

    .camera360-container,
    .selfNav-container {
        width: 100%;
        margin-top: 20px;
    }

    iframe {
        width: 100%;
    }
}